// 弹出mask出现效果
@keyframes fadeIn{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
// 弹窗弹出效果
@keyframes modalKunmingZoomIn {
  0% {
    opacity: 0;
    transform: translate(-50%,-50%) scale(0, 0);
  }
  100% {
    opacity: 1;
    transform: translate(-50%,-50%) scale(1, 1);
  }
}
